.container{
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  max-width: 900px;
}

.Header{
   display: flex;
   justify-content: space-between;
}

.heading{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
}

.Btn{
    display: flex;
    align-items: center;
    background-color: lightblue;
    color: rgb(36, 36, 199);
    padding: 5px;
    font-size: 14px;
    justify-content: center;
    border-radius: 20px;padding-left: 10px;
}

.addStatus{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.AddBtn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  color: gray;
  font-weight: 700;
  font-size: 30px;
}

.MyStory{
   color: gray;
   font-weight: 600;
   width: 70px;
   text-transform: capitalize;
}

.StatusList{
    display: flex;
    gap: 20px;
    list-style-type: none; 
    width: 100%;
    overflow-x: scroll;
    margin-top: 20px;
}

.StatusList::-webkit-scrollbar{
    width: 0px;
}

.StatusListItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 50%;
}

.ActiveDot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
    bottom: 0;
    right: 0;
}
.name{
    font-weight: 600;
    color: gray;
    text-transform: capitalize;
}

/* @media screen and (max-width:1){} */
@media screen and (max-width:1200px){
    .container{
  width: 100%;
}
}
@media screen and (max-width:600px){
    .container{
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
    }  
    .StatusList{
        /* justify-content: center; */
        margin-top: 0px;
    }    
   .Header{
     display: none;
   }
   .name,.MyStory{
    display: none;
   }
}
