.container{
    display: flex;
   background-color: var(--bg) !important;
}

.Wrapper{
    flex: 10.5;
    max-width: 800px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    margin: auto;
}
.Wrapper::-webkit-scrollbar{
    width: 0px;
}
.Container{
   margin: 20px 0;
}