* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light,.undefined{
  --bg:rgb(204 197 197 / 66%);
  --bglight:rgb(59, 56, 56);
  --text:rgb(56, 53, 53);
  --textlight:white;
}

.dark{
  --bg:black;
  --bglight:white;
  --textlight:black;
  --text:white;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
}

.theme{
  transition: all ease 3s;
}

.container{
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}
a:active{
  background-color: inherit;
}
a::after{
  background-color: inherit;
}