
.Navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.left,.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left span{
    font-size: 40px;
    font-weight: 600;
}
.right button{
    color: aliceblue;
    border: none;
    background-color: blue;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}
